<!DOCTYPE html>
<html lang="en">
  <%- include('../includes/head.ejs') %>
  <body id="default_theme" class="it_serv_shopping_cart shopping-cart">
    <!-- loader -->
    <!-- <div class="bg_load">
      <img class="loader_animation" src="images/loaders/leaf.png" alt="#" />
    </div> -->
    <!-- end loader -->
    <!-- header -->
    <%- include('../includes/header.ejs') %>
    <!-- end header -->
    <!-- inner page banner -->
    <!-- <div id="inner_banner" class="section inner_banner_section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="full">
              <div class="title-holder">
                <div class="title-holder-cell text-left">
                  <h1 class="page-title">Shopping Cart</h1>
                  <ol class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li class="active">Shopping Cart</li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <!-- end inner page banner -->
    <div class="section padding_layout_1 Shopping_cart_section">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <div class="product-table">
              <% let total = 0; let cartTotal =0; %>
              <table class="table">
                <thead>
                  <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th class="text-center">Price</th>
                    <th class="text-center">Total</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% if (product_cart.length > 0) { %> <%
                  product_cart.map((product, index) => { %>
                  <tr>
                    <td class="col-sm-8 col-md-6">
                      <div class="media">
                        <a class="thumbnail pull-left" href="#">
                          <img
                            class="media-object"
                            src="<%- product.path %>"
                            alt="#"
                        /></a>
                        <div class="media-body">
                          <h4 class="media-heading">
                            <a href="#"><%- product.product_name %></a>
                          </h4>
                        </div>
                      </div>
                    </td>
                    <td class="col-sm-1 col-md-1" style="text-align: center">
                      <div class="col-md-12">
                        <p class="price_table"><%- product.quantity %></p>
                      </div>
                    </td>
                    <td class="col-sm-1 col-md-1 text-center">
                      <p class="price_table">$<%- product.price %>.00</p>
                      <% cartTotal =
                      parseInt(product.price)*parseInt(product.quantity) %>
                    </td>
                    <td class="col-sm-1 col-md-1 text-center">
                      <p class="price_table">$<%- cartTotal %></p>
                      <% total = total+cartTotal %>
                    </td>
                    <td class="col-sm-1 col-md-1">
                      <a
                        type="button"
                        href="/deleteProductCart/<%- product.product_name %>"
                        class="bt_main"
                      >
                        <i class="fa fa-trash"></i> Remove
                      </a>
                    </td>
                  </tr>
                  <% }) %> <% } else { %>
                  <tr>
                    <td colspan="5">
                      <h1>No Products Found!</h1>
                    </td>
                  </tr>
                  <% } %>
                </tbody>
              </table>
            </div>
            <% if (product_cart.length > 0) { %>
            <div class="shopping-cart-cart">
              <table>
                <tbody>
                  <tr class="head-table">
                    <td><h5>Cart Totals</h5></td>
                    <td class="text-right"></td>
                  </tr>
                  <tr>
                    <td><h4>Subtotal</h4></td>
                    <td class="text-right"><h4>$<%= total %>.00</h4></td>
                  </tr>
                  <tr>
                    <td><h5>Estimated shipping</h5></td>
                    <td class="text-right"><h4>$5.00</h4></td>
                    <% total = total+5 %>
                  </tr>
                  <tr>
                    <td><h3>Total</h3></td>
                    <td class="text-right"><h4>$<%= total %>.00</h4></td>
                  </tr>
                  <tr>
                    <td>
                      <button type="button" class="button">
                        Continue
                      </button>
                    </td>
                    <td><button class="button">Checkout</button></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <%}%>
          </div>
        </div>
      </div>
    </div>

    

  
    <!-- end section -->
    <!-- footer -->
    <%- include('../includes/footer.ejs') %>
    <!-- end footer -->
    <!-- js section -->
    <%- include('../includes/low_script.ejs') %>
    <!-- zoom effect -->
    <script src="js/hizoom.js"></script>
    <script>
      $(".hi1").hiZoom({
        width: 300,
        position: "right",
      });
      $(".hi2").hiZoom({
        width: 400,
        position: "right",
      });
    </script>
  </body>
</html>
